# Stratified Sampling Using Titanic Dataset (Bonus Assignment)

## You will use the Titanic dataset to apply Stratified Sampling.

### Data: https://www.kaggle.com/competitions/titanic/overview

## Task 1: Load and Explore the Titanic Dataset
### Display the first few rows of the dataset to get an overview of the structure.
### Generate summary statistics for the numerical columns.

In [2]:
import pandas as pd

df = pd.read_csv("gender_submission.csv")  

df.head()

df.describe()

       PassengerId    Survived
count   418.000000  418.000000
mean   1100.500000    0.363636
std     120.810458    0.481622
min     892.000000    0.000000
25%     996.250000    0.000000
50%    1100.500000    0.000000
75%    1204.750000    1.000000
max    1309.000000    1.000000

## Task 2: Identify the Strata

In [5]:
print(df.columns)

Index(['PassengerId', 'Survived'], dtype='object')

In [6]:
print(df['Survived'].value_counts())

Survived
0    266
1    152
Name: count, dtype: int64

In [7]:
print(df['PassengerId'].value_counts())

PassengerId
892     1
1205    1
1177    1
1176    1
1175    1
       ..
1028    1
1027    1
1026    1
1025    1
1309    1
Name: count, Length: 418, dtype: int64

In [8]:
df.corr()

             PassengerId  Survived
PassengerId     1.000000 -0.023245
Survived       -0.023245  1.000000

## Task 3: Implement Stratified Sampling

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
train_set, test_set = train_test_split(df, test_size=0.2, stratify=df['Survived'], random_state=42)

In [11]:
print(train_set['Survived'].value_counts() / len(train_set))

Survived
0    0.637725
1    0.362275
Name: count, dtype: float64

In [12]:
print(test_set['Survived'].value_counts() / len(test_set))

Survived
0    0.630952
1    0.369048
Name: count, dtype: float64

### Task 4: Summary

In [14]:
original_distribution = df['Survived'].value_counts() / len(df)
train_distribution = train_set['Survived'].value_counts() / len(train_set)
test_distribution = test_set['Survived'].value_counts() / len(test_set)

In [15]:
print("Original Distribution:\n", original_distribution)

Original Distribution:
 Survived
0    0.636364
1    0.363636
Name: count, dtype: float64

In [16]:
print("\nTraining Set Distribution:\n", train_distribution)

Training Set Distribution:
 Survived
0    0.637725
1    0.362275
Name: count, dtype: float64

In [17]:
print("\nTest Set Distribution:\n", test_distribution)

Test Set Distribution:
 Survived
0    0.630952
1    0.369048
Name: count, dtype: float64