In [18]:
#IMPORT LIBRARY

In [9]:
df.head()

       Date  Starting (USD)  Ending (USD)
0  01.01.24           16800         16500
1  01.12.23           15900         16100
2  01.11.23           15800         15300
3  01.10.23           16100         16200
4  01.09.23           16300         15700

In [14]:
import os
print(os.getcwd())
os.chdir('/Newtonian Fluid/NUS_Nu J=4(P=1N)')

c:\Users\Emon\Desktop\New folder

FileNotFoundError: [WinError 3] The system cannot find the path specified: '/Newtonian Fluid/NUS_Nu J=4(P=1N)'

In [17]:
import os

# Print the current working directory
print(os.getcwd())

# List contents of the current directory
print(os.listdir())

# Assuming the target directory is within the current directory
target_directory = "Newtonian Fluid"

if target_directory in os.listdir():
    # Change to the target directory
    os.chdir(target_directory)
    print(os.getcwd())

    # List contents of the target directory to verify
    print(os.listdir())

    # Define the path to the .dat file
    dat_file = "NUS_Nu J=4(P=1N).dat"

    if dat_file in os.listdir():
        # Read the .dat file
        df = pd.read_csv(dat_file, sep=';')
        print(df.head())
    else:
        print(f"{dat_file}")
else:
    print(f" {target_directory}")

c:\Users\Emon\Desktop\New folder\Newtonian Fluid
['NUS_Nu J=4 (P=1N).dat', 'NUS_Nu J=6 (P=1N).dat', 'NUS_Nu J=8 (P=1N).dat', 'NUS_Nu Kr = 0.4 (P=1N).dat', 'NUS_Nu Kr = 1.4 (P=1N).dat', 'NUS_Nu Kr = 2.4 (P=1N).dat', 'NUS_Nu m = 0.1 (P=1N).dat', 'NUS_Nu m = 0.3 (P=1N).dat', 'NUS_Nu m = 0.5 (P=1N).dat', 'NUS_Nu M = 1 (P = 1N).dat', 'NUS_Nu M = 3 (P = 1N).dat', 'NUS_Nu M = 5 (P = 1N).dat', 'NUS_Nu Nr = 1 (P=1N).dat', 'NUS_Nu Nr = 2 (P=1N).dat', 'NUS_Nu Nr = 3 (P=1N).dat']
 Newtonian Fluid